body {
	border: 2px solid black;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../images/wallpapercrystal.jpg");
    background-size: cover;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.instructions {
	padding-bottom: 30px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	text-align: left;
	margin-bottom: 5px;
	background-color: #fadeb9;
	color: #028a56;
	width: 300px;
	margin-left: 5px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 17px;
	background-color: #dd6503;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 11px;
	margin-left: 5px;
	padding-left: 3px;
}

.randomNumber {
	color:#000; 
	background-color: #069c40;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 150px;
	margin-left: 5px;
	height: 80px;
	float: left;
	padding-left: 5px;
	padding-top: 5px;
}

.wlScore { 
	color: #000; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: rgb(17, 238, 238);
	width: 50px;
	margin-left: 5px;
	height: 80px;
	display: inline-block;
	padding-left: 5px;
	padding-top: 5px;
}

#winsScore {
	padding-top: 10px;
	padding-bottom: 10px;
}

#lossesScore {
	padding-bottom: 5px;
}

a:hover {
	cursor: pointer;
}
  
.hvr-pop {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
}
  
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
	-webkit-animation-name: hvr-pop;
	animation-name: hvr-pop;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.crystals img {
	width: 50px;
	background-color: #fff;
}

.crystals {
	margin-right: 15px;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.totalScore {
	font-size: 12px;
	margin-left: 5px;
	width: 150px;
	color:#fff; 
	background-color: #028a6c;
	font-family: Arial, Helvetica, sans-serif;
	height: 20px;
	padding-left: 5px;
	padding-top: 5px;
}

.currentScore {
	margin-top: 5px;
	width: 150px;
	color: #fff; 
	background-color: #028a6c;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 5px;
	height: 70px;
	margin-bottom: 5px;
	font-size: 20px;
	padding-left: 5px;
	padding-top: 5px;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
}

/* Pop Effect */
@-webkit-keyframes hvr-pop {
	50% {
	  -webkit-transform: scale(1.2);
	  transform: scale(1.2);
	}
  }
  
@keyframes hvr-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
